* {
    margin: 0;
    padding: 0;
}

:root{
    font-size: 25px;
}

body {
    background: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.side {
    height: 100%;
}

.logo {
    width: 85%;
}

.title_side {
    font-weight: bold;
    padding-top: 10%;
}

.text_side {
    padding-top: 3%;
}

.qrcode {
    padding-top: 3%;
    width: 55%;
}

#nav_laptop {
    padding-top: 4%;
}


.btn {
    margin-right: 0.2vw;
    background: #F78A5A;
    color: black;
    border-radius: 20px;
    padding: 3px 20px 3px 20px;
    transition: 0.2s;
}


.btn:hover {
    background: black;
    color: #F78A5A;
    border: 1px solid #F78A5A;
    transform: scale(1.05);
}


.btn_mobile {
    border: 0;
    transition: 0.2s;
    display: inline-block;
}

.btn_mobile:hover {
    color: #F78A5A;
    transform: scale(1.2);
}

.navpad {
    padding-left: 0;
}


ul {
    width: 100%;
}

li {
    margin-top: 5px;
    padding: 10px 0 10px 0;
    font-size: 0.8em;
    font-weight: bold;
}

.list {
    list-style-type: none;
}

.navbar {
    margin-bottom: 2.5em;
}

#bloc1 {
    padding-right: 0;
}

#bloc2 {
    background: #EEA383;

}

a {
    all: unset;
}

a:hover {
    all: unset;
}





@media screen and (min-width:576px){
    .btn{
        font-size: 0.6em;
    }
    ul{
        justify-content: space-between;
    }
    .text_side{
        font-size: 0.7em;
    }
    .title_side{
        font-size: 0.8em;
    }
}

@media screen and (min-width:768px){
    .btn{
        font-size: 1.0em;
    }
    ul{
        justify-content: space-between;
    }
    .text_side{
        font-size: 0.7em;
    }
    .title_side{
        font-size: 0.9em;
    }
}

@media screen and (min-width:992px){
    .btn{
        font-size: 0.6em;
    }
    .text_side{
        font-size: 0.8em;
    }
    .title_side{
        font-size: 1.0em;
    }
}

@media screen and (min-width:1200px){
    .btn{
        font-size: 0.9em;
    }
    .text_side{
        font-size: 0.9em;
    }
    .title_side{
        font-size: 1.1em;
    }
}

@media screen and (min-width:1400px){
    .btn{
        font-size: 1.1em ;
    }
    .text_side{
        font-size: 1em;
    }
    .title_side{
        font-size: 1.2em;
    }
}